name: Android Release

env:
  KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
  RELEASE_SIGN_KEY_ALIAS: ${{ secrets.RELEASE_SIGN_KEY_ALIAS }}
  RELEASE_SIGN_KEY_PASSWORD: ${{ secrets.RELEASE_SIGN_KEY_PASSWORD }}

on:
  push:
    paths:
      - 'build.gradle'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Retrieve Version
        run: |
          chmod +x gradlew
          echo "version_name=$(${{github.workspace}}/gradlew -q printVersionName)" >> $GITHUB_ENV

      - name: Check for Tag
        run: |
          if [ $(git tag -l "v$version_name") ]; then
            echo "Tag v$version_name already exist"
            exit 1
          fi

      - name: Checkout keystore repo
        uses: actions/checkout@v4
        with:
          repository: ${{ secrets.KEYSTORE_GIT_REPOSITORY }}
          token: ${{ secrets.KEYSTORE_ACCESS_TOKEN }}
          path: app/keystore

      - name: Fill ACRA credentials
        env:
          ACRA_URI: ${{ secrets.ACRA_URI }}
          ACRA_LOGIN: ${{ secrets.ACRA_LOGIN }}
          ACRA_PASS: ${{ secrets.ACRA_PASS }}
        run: |
          echo -e "ACRA_URI=\"$ACRA_URI\"\nACRA_LOGIN=\"$ACRA_LOGIN\"\nACRA_PASS=\"$ACRA_PASS\"" > acra.properties

      - name: Build release artifacts
        run: |
          ./gradlew assembleRelease --stacktrace
          ./gradlew bundleRelease

      - name: Rename release file
        run: mv app/build/outputs/apk/release/app-release.apk app/build/outputs/apk/release/NightwavePlaza-$version_name.apk

      - uses: actions/upload-artifact@v4
        with:
          name: Upload artifact
          path: app/build/outputs/apk/release/NightwavePlaza-${{ env.version_name }}.apk

      - name: Create release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ env.version_name }}
          name: Release ${{ env.version_name }}
          files: app/build/outputs/apk/release/NightwavePlaza-${{ env.version_name }}.apk
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
